@charset "utf-8";

#top-bar
{
	height: 42px;
}

#top-bar a.nav-btn
{
	border-radius: 4px;
	padding: 4px 16px;
	background: #39BE01;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
}

#top-bar a.nav-btn:hover
{
	background: #33940A;
	text-decoration: none;
}

#top-bar a
{
	display: block;
	float: right;
	margin: 8px 10px 0 0;
}

#front-page-posts
{
	display:  table;
	margin: 0 auto;
}

#front-page-posts .post
{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#front-page-posts .post a,
.post div.post-image a
{
	display: block;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
}

#front-page-posts .post a
{
	padding: 5px;
}

#front-page-posts .post a:hover,
.post div.post-image a:hover
{
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
}

#front-page-posts .post img
{
	height: auto;
	width: 160px;
}

#login-form input[type=submit]
{
	margin-top: 15px;
}

#post-form
{
	background: #f0f0f0;
	padding: 20px;
	border-radius: 10px;
}

#post-form div.errors
{
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 10px;
}

#post-form div.form-group:first-child
{
	margin: 0;
}

#post-form div.form-group
{
	margin: 10px 0;
}

#post-form div.form-group:last-child
{
	margin: 0;
}

#post-form div.form-group small
{
	display: block;
}

#login-form,
#register-form
{
	margin-top: 15px;
	border-radius: 10px;
	background: #f0f0f0;
	padding: 20px 10px;
}

#register-form li.error-message
{
	float: left;
	font-size: 12px;
	line-height: 22px;
	list-style-type: disc;
	width: 80%;
	margin-left: calc(20% + 25px);
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

#register-form li.error-message:last-child
{
	margin-bottom: 15px;
}

#register-form div.form-group
{
	margin-bottom: 15px;
}

#register-form div.form-group:last-child
{
	margin-bottom: 0;
}

.post div.post-image
{
	float: left;
	margin: 10px 0;
	max-width: 100%;
}

.post div.post-image a
{
	text-align: center;
	padding: 8px;
}

.post div.post-image a img
{
	height: auto;
	max-width: 100%;
}

.post div.post-image a:hover
{
	text-decoration: none;
}

.post div.post-image a small
{
	color: #333;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}